{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    {#  Carousel slide with interval  #}
    <div class="row justify-content-md-center" style="width: 1530px;">
        <div class="col col-lg-3">
            <div class="rounded text-center"
                 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 300px; height: 550px; margin-top: 30px; margin-right: 250px;background-color: white">
                <h4 class="rounded"
                    style="color: #595959; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    Our TOP
                    Products</h4>
                <div class="card" style="width: 15rem; margin-left: 30px; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">Elite Weight Vest 10kg</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Compact design</h6>
                        <p class="card-text">Customizable with velcro patches. Adjustable from 1-10kg.</p>
                        <a href="http://127.0.0.1:8000/product/2/" class="card-link">To product details</a>
                    </div>
                </div>
                <div class="card" style="width: 15rem; margin-left: 30px; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">Premium Resistance Bands</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Two layers for comfortable resistance</h6>
                        <p class="card-text">The equipment for maximum progress. Highly versatile in bodyweight
                            workouts.</p>
                        <a href="http://127.0.0.1:8000/product/10/" class="card-link">To product details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <div id="carouselExampleInterval" class="carousel slide container-fluid" data-bs-ride="carousel"
                 style="width: 500px; padding: 30px; border-spacing: 50px">
                <div class="carousel-inner"
                     style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'images/products/dip_belt/dip_belt_1.jpg' %}" class="d-block w-100"
                             alt="...">
                        <div class="carousel-caption d-none d-md-block"
                             style="color: #F6EFA6; background-color: rgba(62,84,75,0.6);">
                            <h3>Premium Dip Belt</h3>
                            <p style="font-size: 20px">Comfortable and sturdy.</p>
                        </div>

                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'images/products/dip_belt/dip_belt_2.webp' %}" class="d-block w-100"
                             alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/products/dip_belt/dip_belt_3.jpg' %}" class="d-block w-100"
                             alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="rounded text-center"
                 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 300px; margin-left: 63px; height: 550px; margin-top: 30px; margin-right: 250px;background-color: white">
                <h4 class="rounded"
                    style="color: #595959; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    TOP
                    Reviews</h4>
                <div class="card" style="width: 15rem; margin-left: 30px; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">Premium Dip Belt</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Written by: @stamatstoqnov13</h6>
                            <p class="card-text">The Belt is really sturdy, easily takes care of a lot of weight and ...</p>
                        <a href="http://127.0.0.1:8000/product/1/" class="card-link">To product details</a>
                    </div>
                </div>
                <div class="card" style="width: 15rem; margin-left: 30px; margin-top: 20px;">
                    <div class="card-body" style="padding-bottom: 40px">
                        <h5 class="card-title">Workout Rings Set</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Written by: @dianailieva82</h6>
                        <p class="card-text">The rings feel amazing, not cheap like others on the market. Also ...</p>
                        <a href="http://127.0.0.1:8000/product/6/" class="card-link">To product details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#  Carousel slide with interval  #}

    <div class="container d-sm-flex flex-sm-wrap" style="margin-top: 60px">
        {% for product in products %}
            <div class="card"
                 style="width: 15rem; margin: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img src="{{ product.product_image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.product_details }}</p>
                    <a href="{% url 'product details' pk=product.pk %}" class="btn btn-primary"
                       style="margin-left: 31%; background-color: #F6EFA6; color: #112A46; border-color: #c5c088; border-width: 1px;">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}